/* Genel Ayarlar */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f2f6;
}

h1, h2, h3, h4 {
    color: #333;
    font-weight: 600;
}

.stButton button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.stButton button:hover {
    background-color: #e53935;
}

.stSidebar {
    background-color: #f9fafb;
    border-right: 1px solid #e0e0e0;
    padding: 10px;
}

.stTextInput input {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}
